<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>MEL (Maya 2015)</string>
	<key>BBLMLanguageCode</key>
	<string>MEL5</string>
	<key>BBLMReferenceSearchURLTemplate</key>
	<string>http://help.autodesk.com/cloudhelp/2015/ENU/Maya-Tech-Docs/Commands/__SYMBOLNAME__.html</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>aaf2fcp</string>
		<string>about</string>
		<string>abs</string>
		<string>addAttr</string>
		<string>addAttributeEditorNodeHelp</string>
		<string>addCustomPrefsTab</string>
		<string>addDynamic</string>
		<string>addExtension</string>
		<string>addMetadata</string>
		<string>addNewShelfTab</string>
		<string>addPanelCategory</string>
		<string>addPP</string>
		<string>addPrefixToName</string>
		<string>advanceToNextDrivenKey</string>
		<string>affectedNet</string>
		<string>affects</string>
		<string>aimConstraint</string>
		<string>air</string>
		<string>aliasAttr</string>
		<string>align</string>
		<string>alignCtx</string>
		<string>alignCurve</string>
		<string>alignSurface</string>
		<string>allNodeTypes</string>
		<string>allViewFit</string>
		<string>ambientLight</string>
		<string>angle</string>
		<string>angleBetween</string>
		<string>animCurveEditor</string>
		<string>animDisplay</string>
		<string>animLayer</string>
		<string>animView</string>
		<string>annotate</string>
		<string>appendStringArray</string>
		<string>applicationName</string>
		<string>applyAttrPattern</string>
		<string>applyAttrPreset</string>
		<string>applyMetadata</string>
		<string>applyTake</string>
		<string>arclen</string>
		<string>arcLenDimContext</string>
		<string>arcLengthDimension</string>
		<string>arrayMapper</string>
		<string>art3dPaintCtx</string>
		<string>artAttrCtx</string>
		<string>artAttrPaintVertexCtx</string>
		<string>artAttrSkinPaintCtx</string>
		<string>artAttrTool</string>
		<string>artBuildPaintMenu</string>
		<string>artFluidAttrCtx</string>
		<string>artPuttyCtx</string>
		<string>artSelectCtx</string>
		<string>artSetPaintCtx</string>
		<string>artUserPaintCtx</string>
		<string>assembly</string>
		<string>assignCommand</string>
		<string>assignInputDevice</string>
		<string>assignNSolver</string>
		<string>assignViewportFactories</string>
		<string>attachCurve</string>
		<string>attachDeviceAttr</string>
		<string>attachSurface</string>
		<string>attrColorSliderGrp</string>
		<string>attrCompatibility</string>
		<string>attrControlGrp</string>
		<string>attrEnumOptionMenu</string>
		<string>attrEnumOptionMenuGrp</string>
		<string>attrFieldGrp</string>
		<string>attrFieldSliderGrp</string>
		<string>attributeExists</string>
		<string>attributeInfo</string>
		<string>attributeMenu</string>
		<string>attributeName</string>
		<string>attributeQuery</string>
		<string>attrNavigationControlGrp</string>
		<string>attrPresetEditWin</string>
		<string>audioTrack</string>
		<string>autoKeyframe</string>
		<string>autoPlace</string>
		<string>autoSave</string>
		<string>bakeClip</string>
		<string>bakeFluidShading</string>
		<string>bakePartialHistory</string>
		<string>bakeResults</string>
		<string>bakeSimulation</string>
		<string>basename</string>
		<string>basenameEx</string>
		<string>baseTemplate</string>
		<string>baseView</string>
		<string>batchRender</string>
		<string>bessel</string>
		<string>bevel</string>
		<string>bevelPlus</string>
		<string>bezierAnchorPreset</string>
		<string>bezierAnchorState</string>
		<string>bezierCurveToNurbs</string>
		<string>bezierInfo</string>
		<string>bindSkin</string>
		<string>binMembership</string>
		<string>blend2</string>
		<string>blendShape</string>
		<string>blendShapeEditor</string>
		<string>blendShapePanel</string>
		<string>blendTwoAttr</string>
		<string>blindDataType</string>
		<string>boneLattice</string>
		<string>boundary</string>
		<string>boxDollyCtx</string>
		<string>boxZoomCtx</string>
		<string>bufferCurve</string>
		<string>buildBookmarkMenu</string>
		<string>buildKeyframeMenu</string>
		<string>button</string>
		<string>buttonManip</string>
		<string>cacheFile</string>
		<string>cacheFileCombine</string>
		<string>cacheFileMerge</string>
		<string>cacheFileTrack</string>
		<string>callbacks</string>
		<string>callPython</string>
		<string>camera</string>
		<string>cameraSet</string>
		<string>cameraView</string>
		<string>canCreateManip</string>
		<string>canvas</string>
		<string>capitalizeString</string>
		<string>CBG</string>
		<string>ceil</string>
		<string>changeSubdivComponentDisplayLevel</string>
		<string>changeSubdivRegion</string>
		<string>channelBox</string>
		<string>character</string>
		<string>characterize</string>
		<string>characterMap</string>
		<string>chdir</string>
		<string>checkBox</string>
		<string>checkBoxGrp</string>
		<string>checkDefaultRenderGlobals</string>
		<string>choice</string>
		<string>circle</string>
		<string>circularFillet</string>
		<string>clamp</string>
		<string>clear</string>
		<string>clearCache</string>
		<string>clearParticleStartState</string>
		<string>clip</string>
		<string>clipEditor</string>
		<string>clipEditorCurrentTimeCtx</string>
		<string>clipMatching</string>
		<string>clipSchedule</string>
		<string>clipSchedulerOutliner</string>
		<string>clipTrimBefore</string>
		<string>closeCurve</string>
		<string>closeSurface</string>
		<string>cluster</string>
		<string>cmdFileOutput</string>
		<string>cmdScrollFieldExecuter</string>
		<string>cmdScrollFieldReporter</string>
		<string>cmdShell</string>
		<string>coarsenSubdivSelectionList</string>
		<string>collision</string>
		<string>color</string>
		<string>colorAtPoint</string>
		<string>colorEditor</string>
		<string>colorIndex</string>
		<string>colorIndexSliderGrp</string>
		<string>colorManagementCatalog</string>
		<string>colorManagementPrefs</string>
		<string>colorSliderButtonGrp</string>
		<string>colorSliderGrp</string>
		<string>columnLayout</string>
		<string>commandEcho</string>
		<string>commandLine</string>
		<string>commandLogging</string>
		<string>commandPort</string>
		<string>compactHairSystem</string>
		<string>componentBox</string>
		<string>componentEditor</string>
		<string>computePolysetVolume</string>
		<string>condition</string>
		<string>cone</string>
		<string>confirmDialog</string>
		<string>connectAttr</string>
		<string>connectControl</string>
		<string>connectDynamic</string>
		<string>connectionInfo</string>
		<string>connectJoint</string>
		<string>constrain</string>
		<string>constrainValue</string>
		<string>constructionHistory</string>
		<string>container</string>
		<string>containerAssignMaterial</string>
		<string>containerAssignTemplate</string>
		<string>containerAutobind</string>
		<string>containerAutopublishRoot</string>
		<string>containerBind</string>
		<string>containerCreateBindingSet</string>
		<string>containerDefaultBindingSet</string>
		<string>containerProxy</string>
		<string>containerPublish</string>
		<string>containerRemoveBindingSet</string>
		<string>containerRmbMenu</string>
		<string>containerTemplate</string>
		<string>containerView</string>
		<string>containsMultibyte</string>
		<string>contextInfo</string>
		<string>control</string>
		<string>convertIffToPsd</string>
		<string>convertLightmap</string>
		<string>convertSolidTx</string>
		<string>convertTessellation</string>
		<string>convertUnit</string>
		<string>copyArray</string>
		<string>copyAttr</string>
		<string>copyDeformerWeights</string>
		<string>copyFlexor</string>
		<string>copyKey</string>
		<string>copySkinWeights</string>
		<string>cos</string>
		<string>createAttrPatterns</string>
		<string>createCurveField</string>
		<string>createDisplayLayer</string>
		<string>createEditor</string>
		<string>createHairCurveNode</string>
		<string>createLayeredPsdFile</string>
		<string>createMotionField</string>
		<string>createNConstraint</string>
		<string>createNewShelf</string>
		<string>createNode</string>
		<string>createRenderLayer</string>
		<string>createSubdivRegion</string>
		<string>cross</string>
		<string>crossProduct</string>
		<string>ctxAbort</string>
		<string>ctxCompletion</string>
		<string>ctxEditMode</string>
		<string>ctxTraverse</string>
		<string>currentCtx</string>
		<string>currentTime</string>
		<string>currentTimeCtx</string>
		<string>currentUnit</string>
		<string>curve</string>
		<string>curveAddPtCtx</string>
		<string>curveCVCtx</string>
		<string>curveEditorCtx</string>
		<string>curveEPCtx</string>
		<string>curveIntersect</string>
		<string>curveMoveEPCtx</string>
		<string>curveOnSurface</string>
		<string>curveRGBColor</string>
		<string>curveSketchCtx</string>
		<string>cutKey</string>
		<string>cycleCheck</string>
		<string>cylinder</string>
		<string>dagObjectCompare</string>
		<string>dagPose</string>
		<string>dataStructure</string>
		<string>date</string>
		<string>dbcount</string>
		<string>dbmessage</string>
		<string>dbpeek</string>
		<string>defaultLightListCheckBox</string>
		<string>defaultNavigation</string>
		<string>defineDataServer</string>
		<string>defineVirtualDevice</string>
		<string>deformer</string>
		<string>deformerWeights</string>
		<string>deg_to_rad</string>
		<string>delete</string>
		<string>deleteAllContainers</string>
		<string>deleteAttr</string>
		<string>deleteAttrPattern</string>
		<string>deleteExtension</string>
		<string>deleteShadingGroupsAndMaterials</string>
		<string>deleteShelfTab</string>
		<string>deleteUI</string>
		<string>deleteUnusedBrushes</string>
		<string>delrandstr</string>
		<string>destroyLayout</string>
		<string>detachCurve</string>
		<string>detachDeviceAttr</string>
		<string>detachSurface</string>
		<string>deviceEditor</string>
		<string>deviceManager</string>
		<string>devicePanel</string>
		<string>dgdirty</string>
		<string>dgeval</string>
		<string>dgInfo</string>
		<string>dgmodified</string>
		<string>dgtimer</string>
		<string>dimWhen</string>
		<string>directionalLight</string>
		<string>directKeyCtx</string>
		<string>dirmap</string>
		<string>dirname</string>
		<string>disable</string>
		<string>disableIncorrectNameWarning</string>
		<string>disconnectAttr</string>
		<string>disconnectJoint</string>
		<string>diskCache</string>
		<string>displacementToPoly</string>
		<string>displayAffected</string>
		<string>displayColor</string>
		<string>displayCull</string>
		<string>displayLevelOfDetail</string>
		<string>displayNClothMesh</string>
		<string>displayPref</string>
		<string>displayRGBColor</string>
		<string>displaySmoothness</string>
		<string>displayStats</string>
		<string>displayString</string>
		<string>displayStyle</string>
		<string>displaySurface</string>
		<string>distanceDimContext</string>
		<string>distanceDimension</string>
		<string>doBlur</string>
		<string>dockControl</string>
		<string>dolly</string>
		<string>dollyCtx</string>
		<string>dopeSheetEditor</string>
		<string>doPublishNode</string>
		<string>dot</string>
		<string>dotProduct</string>
		<string>doubleProfileBirailSurface</string>
		<string>drag</string>
		<string>dragAttrContext</string>
		<string>draggerContext</string>
		<string>dropoffLocator</string>
		<string>duplicate</string>
		<string>duplicateCurve</string>
		<string>duplicateSurface</string>
		<string>dynamicConstraintMembership</string>
		<string>dynamicLoad</string>
		<string>dynCache</string>
		<string>dynConnectToTime</string>
		<string>dynControl</string>
		<string>dynExport</string>
		<string>dynExpression</string>
		<string>dynGlobals</string>
		<string>dynPaintEditor</string>
		<string>dynParticleCtx</string>
		<string>dynPref</string>
		<string>editAttrLimits</string>
		<string>editDisplayLayerGlobals</string>
		<string>editDisplayLayerMembers</string>
		<string>editMetadata</string>
		<string>editor</string>
		<string>editorTemplate</string>
		<string>editRenderLayerAdjustment</string>
		<string>editRenderLayerGlobals</string>
		<string>editRenderLayerMembers</string>
		<string>effector</string>
		<string>emit</string>
		<string>emitter</string>
		<string>enableDevice</string>
		<string>encodeString</string>
		<string>endString</string>
		<string>endsWith</string>
		<string>env</string>
		<string>equivalent</string>
		<string>equivalentTol</string>
		<string>erf</string>
		<string>error</string>
		<string>eval</string>
		<string>evalDeferred</string>
		<string>evalEcho</string>
		<string>evalNoSelectNotify</string>
		<string>event</string>
		<string>exactWorldBoundingBox</string>
		<string>exclusiveLightCheckBox</string>
		<string>exec</string>
		<string>executeForEachObject</string>
		<string>exists</string>
		<string>exp</string>
		<string>exportEdits</string>
		<string>expression</string>
		<string>expressionEditorListen</string>
		<string>extendCurve</string>
		<string>extendSurface</string>
		<string>extrude</string>
		<string>fcheck</string>
		<string>fclose</string>
		<string>feof</string>
		<string>fflush</string>
		<string>fgetline</string>
		<string>fgetword</string>
		<string>file</string>
		<string>fileBrowserDialog</string>
		<string>fileDialog</string>
		<string>fileDialog2</string>
		<string>fileExtension</string>
		<string>fileInfo</string>
		<string>filePathEditor</string>
		<string>filetest</string>
		<string>filletCurve</string>
		<string>filter</string>
		<string>filterCurve</string>
		<string>filterExpand</string>
		<string>filterStudioImport</string>
		<string>findAllIntersections</string>
		<string>findAnimCurves</string>
		<string>findKeyframe</string>
		<string>findMenuItem</string>
		<string>findRelatedDeformer</string>
		<string>findRelatedSkinCluster</string>
		<string>findType</string>
		<string>firstParentOf</string>
		<string>fitBspline</string>
		<string>flexor</string>
		<string>floatArrayContains</string>
		<string>floatArrayCount</string>
		<string>floatArrayFind</string>
		<string>floatArrayInsertAtIndex</string>
		<string>floatArrayRemove</string>
		<string>floatArrayRemoveAtIndex</string>
		<string>floatArrayToString</string>
		<string>floatEq</string>
		<string>floatField</string>
		<string>floatFieldGrp</string>
		<string>floatScrollBar</string>
		<string>floatSlider</string>
		<string>floatSlider2</string>
		<string>floatSliderButtonGrp</string>
		<string>floatSliderGrp</string>
		<string>floor</string>
		<string>flow</string>
		<string>flowLayout</string>
		<string>fluidCacheInfo</string>
		<string>fluidEmitter</string>
		<string>fluidVoxelInfo</string>
		<string>flushUndo</string>
		<string>fmod</string>
		<string>fontDialog</string>
		<string>fopen</string>
		<string>format</string>
		<string>formLayout</string>
		<string>formValidObjectName</string>
		<string>fprint</string>
		<string>frameBufferName</string>
		<string>frameLayout</string>
		<string>fread</string>
		<string>freadAllLines</string>
		<string>freadAllText</string>
		<string>freeFormFillet</string>
		<string>frewind</string>
		<string>fromNativePath</string>
		<string>fwrite</string>
		<string>fwriteAllLines</string>
		<string>fwriteAllText</string>
		<string>gamma</string>
		<string>gauss</string>
		<string>geomBind</string>
		<string>geometryConstraint</string>
		<string>geomToBBox</string>
		<string>getAllChains</string>
		<string>getApplicationVersionAsFloat</string>
		<string>getAttr</string>
		<string>getChain</string>
		<string>getClassification</string>
		<string>getCollisionActiveObjects</string>
		<string>getCollisionObjects</string>
		<string>getCurrentContainer</string>
		<string>getDefaultBrush</string>
		<string>getenv</string>
		<string>getFileList</string>
		<string>getFluidAttr</string>
		<string>getInputDeviceRange</string>
		<string>getLastError</string>
		<string>getMayaPanelTypes</string>
		<string>getMetadata</string>
		<string>getModifiers</string>
		<string>getModulePath</string>
		<string>getNextFreeMultiIndex</string>
		<string>getNextFreeMultiIndexForSource</string>
		<string>getPanel</string>
		<string>getParticleAttr</string>
		<string>getpid</string>
		<string>getPluginResource</string>
		<string>getProcArguments</string>
		<string>getRenderDependencies</string>
		<string>getRenderTasks</string>
		<string>getSelectedNObjs</string>
		<string>globalStitch</string>
		<string>glRender</string>
		<string>glRenderEditor</string>
		<string>gmatch</string>
		<string>goal</string>
		<string>gotoBindPose</string>
		<string>grabColor</string>
		<string>gradientControl</string>
		<string>gradientControlNoAttr</string>
		<string>graphDollyCtx</string>
		<string>graphSelectContext</string>
		<string>graphTrackCtx</string>
		<string>gravity</string>
		<string>greasePencilCtx</string>
		<string>grid</string>
		<string>gridLayout</string>
		<string>group</string>
		<string>groupObjectsByName</string>
		<string>hardenPointCurve</string>
		<string>hardware</string>
		<string>hardwareRenderPanel</string>
		<string>hasMetadata</string>
		<string>headsUpDisplay</string>
		<string>headsUpMessage</string>
		<string>help</string>
		<string>helpLine</string>
		<string>hermite</string>
		<string>HfAddAttractorToAS</string>
		<string>HfAssignAS</string>
		<string>HfBuildEqualMap</string>
		<string>HfBuildFurFiles</string>
		<string>HfBuildFurImages</string>
		<string>HfCancelAFR</string>
		<string>HfConnectASToHF</string>
		<string>HfCreateAttractor</string>
		<string>HfDeleteAS</string>
		<string>HfEditAS</string>
		<string>HfPerformCreateAS</string>
		<string>HfRemoveAttractorFromAS</string>
		<string>HfSelectAttached</string>
		<string>HfSelectAttractors</string>
		<string>HfUnassignAS</string>
		<string>hide</string>
		<string>hikGlobals</string>
		<string>hilite</string>
		<string>hitTest</string>
		<string>hotBox</string>
		<string>hotkey</string>
		<string>hotkeyCheck</string>
		<string>hsv_to_rgb</string>
		<string>hudButton</string>
		<string>hudSlider</string>
		<string>hudSliderButton</string>
		<string>hwReflectionMap</string>
		<string>hwRender</string>
		<string>hwRenderLoad</string>
		<string>hyperGraph</string>
		<string>hyperPanel</string>
		<string>hyperShade</string>
		<string>hypot</string>
		<string>iconTextButton</string>
		<string>iconTextCheckBox</string>
		<string>iconTextRadioButton</string>
		<string>iconTextRadioCollection</string>
		<string>iconTextScrollList</string>
		<string>iconTextStaticLabel</string>
		<string>ikfkDisplayMethod</string>
		<string>ikHandle</string>
		<string>ikHandleCtx</string>
		<string>ikHandleDisplayScale</string>
		<string>ikSolver</string>
		<string>ikSplineHandleCtx</string>
		<string>ikSystem</string>
		<string>ikSystemInfo</string>
		<string>illustratorCurves</string>
		<string>image</string>
		<string>imagePlane</string>
		<string>imfPlugins</string>
		<string>incrementAndSaveScene</string>
		<string>inheritTransform</string>
		<string>insertJoint</string>
		<string>insertJointCtx</string>
		<string>insertKeyCtx</string>
		<string>insertKnotCurve</string>
		<string>insertKnotSurface</string>
		<string>instance</string>
		<string>instanceable</string>
		<string>instancer</string>
		<string>intArrayContains</string>
		<string>intArrayCount</string>
		<string>intArrayFind</string>
		<string>intArrayInsertAtIndex</string>
		<string>intArrayRemove</string>
		<string>intArrayRemoveAtIndex</string>
		<string>intArrayToString</string>
		<string>internalVar</string>
		<string>intersect</string>
		<string>interToUI</string>
		<string>intField</string>
		<string>intFieldGrp</string>
		<string>intScrollBar</string>
		<string>intSlider</string>
		<string>intSliderGrp</string>
		<string>inViewMessage</string>
		<string>iprEngine</string>
		<string>isAnimCurve</string>
		<string>isConnected</string>
		<string>isDirty</string>
		<string>isolateSelect</string>
		<string>isParentOf</string>
		<string>isSameObject</string>
		<string>isTrue</string>
		<string>isValidObjectName</string>
		<string>isValidString</string>
		<string>isValidUiName</string>
		<string>itemFilter</string>
		<string>itemFilterAttr</string>
		<string>itemFilterType</string>
		<string>joint</string>
		<string>jointCluster</string>
		<string>jointCtx</string>
		<string>jointDisplayScale</string>
		<string>jointLattice</string>
		<string>keyframe</string>
		<string>keyframeOutliner</string>
		<string>keyframeRegionCurrentTimeCtx</string>
		<string>keyframeRegionDirectKeyCtx</string>
		<string>keyframeRegionDollyCtx</string>
		<string>keyframeRegionInsertKeyCtx</string>
		<string>keyframeRegionMoveKeyCtx</string>
		<string>keyframeRegionScaleKeyCtx</string>
		<string>keyframeRegionSelectKeyCtx</string>
		<string>keyframeRegionSetKeyCtx</string>
		<string>keyframeRegionTrackCtx</string>
		<string>keyframeStats</string>
		<string>keyingGroup</string>
		<string>keyTangent</string>
		<string>lassoContext</string>
		<string>lattice</string>
		<string>latticeDeformKeyCtx</string>
		<string>launch</string>
		<string>launchImageEditor</string>
		<string>layerButton</string>
		<string>layeredShaderPort</string>
		<string>layeredTexturePort</string>
		<string>layout</string>
		<string>layoutDialog</string>
		<string>license</string>
		<string>lightlink</string>
		<string>lightList</string>
		<string>linearPrecision</string>
		<string>lineIntersection</string>
		<string>linstep</string>
		<string>listAnimatable</string>
		<string>listAttr</string>
		<string>listAttrPatterns</string>
		<string>listCameras</string>
		<string>listConnections</string>
		<string>listDeviceAttachments</string>
		<string>listHistory</string>
		<string>listInputDeviceAxes</string>
		<string>listInputDeviceButtons</string>
		<string>listInputDevices</string>
		<string>listMenuAnnotation</string>
		<string>listNodesWithIncorrectNames</string>
		<string>listNodeTypes</string>
		<string>listPanelCategories</string>
		<string>listRelatives</string>
		<string>listSets</string>
		<string>listTransforms</string>
		<string>listUnselected</string>
		<string>loadFluid</string>
		<string>loadModule</string>
		<string>loadNewShelf</string>
		<string>loadPlugin</string>
		<string>loadPluginLanguageResources</string>
		<string>loadPrefObjects</string>
		<string>loadUI</string>
		<string>localizedPanelLabel</string>
		<string>localizedUIComponentLabel</string>
		<string>lockContainer</string>
		<string>lockNode</string>
		<string>loft</string>
		<string>log</string>
		<string>longNameOf</string>
		<string>lookThru</string>
		<string>ls</string>
		<string>lsThroughFilter</string>
		<string>lsType</string>
		<string>lsUI</string>
		<string>mag</string>
		<string>makebot</string>
		<string>makeCurvesDynamic</string>
		<string>makeCurvesDynamicHairs</string>
		<string>makeIdentity</string>
		<string>makeLive</string>
		<string>makePaintable</string>
		<string>makePassiveCollider</string>
		<string>makeRoll</string>
		<string>makeSingleSurface</string>
		<string>makeTubeOn</string>
		<string>manipMoveContext</string>
		<string>manipMoveLimitsCtx</string>
		<string>manipOptions</string>
		<string>manipPivot</string>
		<string>manipRotateContext</string>
		<string>manipRotateLimitsCtx</string>
		<string>manipScaleContext</string>
		<string>manipScaleLimitsCtx</string>
		<string>marker</string>
		<string>match</string>
		<string>max</string>
		<string>maxfloat</string>
		<string>maxint</string>
		<string>Mayatomr</string>
		<string>melInfo</string>
		<string>memory</string>
		<string>menu</string>
		<string>menuBarLayout</string>
		<string>menuEditor</string>
		<string>menuItem</string>
		<string>menuItemToShelf</string>
		<string>menuSet</string>
		<string>menuSetPref</string>
		<string>messageLine</string>
		<string>min</string>
		<string>minfloat</string>
		<string>minimizeApp</string>
		<string>minint</string>
		<string>mirrorJoint</string>
		<string>modelCurrentTimeCtx</string>
		<string>modelEditor</string>
		<string>modelPanel</string>
		<string>moduleInfo</string>
		<string>mouse</string>
		<string>move</string>
		<string>moveCacheToInput</string>
		<string>moveIKtoFK</string>
		<string>moveKeyCtx</string>
		<string>moveVertexAlongDirection</string>
		<string>movieInfo</string>
		<string>movIn</string>
		<string>movOut</string>
		<string>multiProfileBirailSurface</string>
		<string>multiTouch</string>
		<string>mute</string>
		<string>nameCommand</string>
		<string>nameField</string>
		<string>namespace</string>
		<string>namespaceInfo</string>
		<string>nBase</string>
		<string>nClothConvertOutput</string>
		<string>nClothVertexEditor</string>
		<string>newton</string>
		<string>nextOrPreviousFrame</string>
		<string>nodeCast</string>
		<string>nodeEditor</string>
		<string>nodeIconButton</string>
		<string>nodeOutliner</string>
		<string>nodePreset</string>
		<string>nodeTreeLister</string>
		<string>nodeType</string>
		<string>noise</string>
		<string>nonLinear</string>
		<string>normalConstraint</string>
		<string>normalize</string>
		<string>nParticle</string>
		<string>nurbsBoolean</string>
		<string>nurbsCopyUVSet</string>
		<string>nurbsCube</string>
		<string>nurbsCurveToBezier</string>
		<string>nurbsEditUV</string>
		<string>nurbsPlane</string>
		<string>nurbsSelect</string>
		<string>nurbsSquare</string>
		<string>nurbsToPoly</string>
		<string>nurbsToPolygonsPref</string>
		<string>nurbsToSubdiv</string>
		<string>nurbsToSubdivPref</string>
		<string>nurbsUVSet</string>
		<string>nurbsViewDirectionVector</string>
		<string>objectCenter</string>
		<string>objectLayer</string>
		<string>objectType</string>
		<string>objectTypeUI</string>
		<string>objExists</string>
		<string>obsoleteProc</string>
		<string>oceanNurbsPreviewPlane</string>
		<string>offsetCurve</string>
		<string>offsetCurveOnSurface</string>
		<string>offsetSurface</string>
		<string>ogs</string>
		<string>ogsRender</string>
		<string>openGLExtension</string>
		<string>openMayaPref</string>
		<string>optionMenu</string>
		<string>optionMenuGrp</string>
		<string>optionVar</string>
		<string>orbit</string>
		<string>orbitCtx</string>
		<string>orientConstraint</string>
		<string>outlinerEditor</string>
		<string>outlinerPanel</string>
		<string>overrideModifier</string>
		<string>paintEffectsDisplay</string>
		<string>pairBlend</string>
		<string>palettePort</string>
		<string>panel</string>
		<string>paneLayout</string>
		<string>panelConfiguration</string>
		<string>panelHistory</string>
		<string>panZoom</string>
		<string>panZoomCtx</string>
		<string>paramDimContext</string>
		<string>paramDimension</string>
		<string>paramLocator</string>
		<string>parent</string>
		<string>parentConstraint</string>
		<string>particle</string>
		<string>particleExists</string>
		<string>particleFill</string>
		<string>particleInstancer</string>
		<string>particleRenderInfo</string>
		<string>partition</string>
		<string>pasteKey</string>
		<string>pathAnimation</string>
		<string>pause</string>
		<string>pclose</string>
		<string>perCameraVisibility</string>
		<string>percent</string>
		<string>performanceOptions</string>
		<string>pfxstrokes</string>
		<string>pickWalk</string>
		<string>picture</string>
		<string>pixelMove</string>
		<string>planarSrf</string>
		<string>plane</string>
		<string>play</string>
		<string>playbackOptions</string>
		<string>playblast</string>
		<string>plugAttr</string>
		<string>pluginDisplayFilter</string>
		<string>pluginInfo</string>
		<string>pluginResourceUtil</string>
		<string>plugMultiAttrs</string>
		<string>plugNode</string>
		<string>plugNodeStripped</string>
		<string>pointConstraint</string>
		<string>pointCurveConstraint</string>
		<string>pointLight</string>
		<string>pointMatrixMult</string>
		<string>pointOnCurve</string>
		<string>pointOnPolyConstraint</string>
		<string>pointOnSurface</string>
		<string>pointPosition</string>
		<string>poleVectorConstraint</string>
		<string>polyAppend</string>
		<string>polyAppendFacetCtx</string>
		<string>polyAppendVertex</string>
		<string>polyAutoProjection</string>
		<string>polyAverageNormal</string>
		<string>polyAverageVertex</string>
		<string>polyBevel</string>
		<string>polyBlendColor</string>
		<string>polyBlindData</string>
		<string>polyBoolOp</string>
		<string>polyBridgeEdge</string>
		<string>polyCacheMonitor</string>
		<string>polyCBoolOp</string>
		<string>polyCheck</string>
		<string>polyChipOff</string>
		<string>polyClipboard</string>
		<string>polyCloseBorder</string>
		<string>polyCollapseEdge</string>
		<string>polyCollapseFacet</string>
		<string>polyColorBlindData</string>
		<string>polyColorDel</string>
		<string>polyColorMod</string>
		<string>polyColorPerVertex</string>
		<string>polyColorSet</string>
		<string>polyCompare</string>
		<string>polyCone</string>
		<string>polyConnectComponents</string>
		<string>polyCopyUV</string>
		<string>polyCrease</string>
		<string>polyCreaseCtx</string>
		<string>polyCreateFacet</string>
		<string>polyCreateFacetCtx</string>
		<string>polyCube</string>
		<string>polyCut</string>
		<string>polyCutCtx</string>
		<string>polyCylinder</string>
		<string>polyCylindricalProjection</string>
		<string>polyDelEdge</string>
		<string>polyDelFacet</string>
		<string>polyDelVertex</string>
		<string>polyDuplicateAndConnect</string>
		<string>polyDuplicateEdge</string>
		<string>polyEditEdgeFlow</string>
		<string>polyEditUV</string>
		<string>polyEditUVShell</string>
		<string>polyEvaluate</string>
		<string>polyExtrudeEdge</string>
		<string>polyExtrudeFacet</string>
		<string>polyExtrudeVertex</string>
		<string>polyFlipEdge</string>
		<string>polyFlipUV</string>
		<string>polyForceUV</string>
		<string>polyGeoSampler</string>
		<string>polyHelix</string>
		<string>polyHole</string>
		<string>polyInfo</string>
		<string>polyInstallAction</string>
		<string>polyLayoutUV</string>
		<string>polyListComponentConversion</string>
		<string>polyMapCut</string>
		<string>polyMapDel</string>
		<string>polyMapSew</string>
		<string>polyMapSewMove</string>
		<string>polyMergeEdge</string>
		<string>polyMergeEdgeCtx</string>
		<string>polyMergeFacet</string>
		<string>polyMergeFacetCtx</string>
		<string>polyMergeUV</string>
		<string>polyMergeVertex</string>
		<string>polyMirrorFace</string>
		<string>polyMoveEdge</string>
		<string>polyMoveFacet</string>
		<string>polyMoveFacetUV</string>
		<string>polyMoveUV</string>
		<string>polyMoveVertex</string>
		<string>polyMultiLayoutUV</string>
		<string>polyNormal</string>
		<string>polyNormalizeUV</string>
		<string>polyNormalPerVertex</string>
		<string>polyOptions</string>
		<string>polyOptUvs</string>
		<string>polyOutput</string>
		<string>polyPipe</string>
		<string>polyPlanarProjection</string>
		<string>polyPlane</string>
		<string>polyPlatonicSolid</string>
		<string>polyPoke</string>
		<string>polyPrimitive</string>
		<string>polyPrism</string>
		<string>polyProjectCurve</string>
		<string>polyProjection</string>
		<string>polyPyramid</string>
		<string>polyQuad</string>
		<string>polyQueryBlindData</string>
		<string>polyReduce</string>
		<string>polySelect</string>
		<string>polySelectConstraint</string>
		<string>polySelectConstraintMonitor</string>
		<string>polySelectCtx</string>
		<string>polySelectEditCtx</string>
		<string>polySeparate</string>
		<string>polySetToFaceNormal</string>
		<string>polySewEdge</string>
		<string>polyShortestPathCtx</string>
		<string>polySlideEdge</string>
		<string>polySmooth</string>
		<string>polySoftEdge</string>
		<string>polySphere</string>
		<string>polySphericalProjection</string>
		<string>polySplit</string>
		<string>polySplitCtx</string>
		<string>polySplitCtx2</string>
		<string>polySplitEdge</string>
		<string>polySplitRing</string>
		<string>polySplitVertex</string>
		<string>polyStraightenUVBorder</string>
		<string>polySubdivideEdge</string>
		<string>polySubdivideFacet</string>
		<string>polyTorus</string>
		<string>polyToSubdiv</string>
		<string>polyTransfer</string>
		<string>polyTriangulate</string>
		<string>polyUnite</string>
		<string>polyUniteSkinned</string>
		<string>polyUVRectangle</string>
		<string>polyUVSet</string>
		<string>polyWedgeFace</string>
		<string>popen</string>
		<string>popupMenu</string>
		<string>pose</string>
		<string>pow</string>
		<string>preloadRefEd</string>
		<string>prepareRender</string>
		<string>print</string>
		<string>profiler</string>
		<string>profilerTool</string>
		<string>progressBar</string>
		<string>progressWindow</string>
		<string>projectCurve</string>
		<string>projectionContext</string>
		<string>projectionManip</string>
		<string>projectTangent</string>
		<string>promptDialog</string>
		<string>propModCtx</string>
		<string>propMove</string>
		<string>psdChannelOutliner</string>
		<string>psdEditTextureFile</string>
		<string>psdExport</string>
		<string>psdTextureFile</string>
		<string>publishAnchorNodes</string>
		<string>publishContainerConnections</string>
		<string>putenv</string>
		<string>pwd</string>
		<string>python</string>
		<string>querySubdiv</string>
		<string>quit</string>
		<string>rad_to_deg</string>
		<string>radial</string>
		<string>radioButton</string>
		<string>radioButtonGrp</string>
		<string>radioCollection</string>
		<string>radioMenuItemCollection</string>
		<string>rampColorPort</string>
		<string>rand</string>
		<string>randomizeFollicles</string>
		<string>randstate</string>
		<string>rangeControl</string>
		<string>readTake</string>
		<string>rebuildCurve</string>
		<string>rebuildSurface</string>
		<string>recordAttr</string>
		<string>recordDevice</string>
		<string>redo</string>
		<string>reference</string>
		<string>referenceEdit</string>
		<string>referenceQuery</string>
		<string>refineSubdivSelectionList</string>
		<string>refresh</string>
		<string>refreshAE</string>
		<string>refreshEditorTemplates</string>
		<string>regionSelectKeyCtx</string>
		<string>registerPluginResource</string>
		<string>rehash</string>
		<string>relationship</string>
		<string>reloadImage</string>
		<string>removeJoint</string>
		<string>removeMultiInstance</string>
		<string>removePanelCategory</string>
		<string>rename</string>
		<string>renameAttr</string>
		<string>renameSelectionList</string>
		<string>renameUI</string>
		<string>render</string>
		<string>renderer</string>
		<string>renderGlobalsNode</string>
		<string>renderInfo</string>
		<string>renderLayerParent</string>
		<string>renderLayerPostProcess</string>
		<string>renderLayerUnparent</string>
		<string>renderManip</string>
		<string>renderPartition</string>
		<string>renderPassRegistry</string>
		<string>renderQualityNode</string>
		<string>renderSettings</string>
		<string>renderThumbnailUpdate</string>
		<string>renderWindowEditor</string>
		<string>renderWindowSelectContext</string>
		<string>reorder</string>
		<string>reorderContainer</string>
		<string>reorderDeformers</string>
		<string>reparentStrokes</string>
		<string>requires</string>
		<string>reroot</string>
		<string>resampleFluid</string>
		<string>resetAE</string>
		<string>resetPfxToPolyCamera</string>
		<string>resetTool</string>
		<string>resolutionNode</string>
		<string>resourceManager</string>
		<string>retarget</string>
		<string>retimeKeyCtx</string>
		<string>reverseCurve</string>
		<string>reverseSurface</string>
		<string>revolve</string>
		<string>rgb_to_hsv</string>
		<string>rigidBody</string>
		<string>rigidSolver</string>
		<string>roll</string>
		<string>rollCtx</string>
		<string>rootOf</string>
		<string>rot</string>
		<string>rotate</string>
		<string>rotationInterpolation</string>
		<string>roundConstantRadius</string>
		<string>rowColumnLayout</string>
		<string>rowLayout</string>
		<string>runTimeCommand</string>
		<string>runup</string>
		<string>sampleImage</string>
		<string>saveAllShelves</string>
		<string>saveAttrPreset</string>
		<string>saveFluid</string>
		<string>saveImage</string>
		<string>saveInitialState</string>
		<string>saveMenu</string>
		<string>savePrefObjects</string>
		<string>savePrefs</string>
		<string>saveShelf</string>
		<string>saveToolSettings</string>
		<string>saveViewportSettings</string>
		<string>scale</string>
		<string>scaleBrushBrightness</string>
		<string>scaleComponents</string>
		<string>scaleConstraint</string>
		<string>scaleKey</string>
		<string>scaleKeyCtx</string>
		<string>sceneEditor</string>
		<string>sceneTimeWarp</string>
		<string>sceneUIReplacement</string>
		<string>scmh</string>
		<string>scriptCtx</string>
		<string>scriptEditorInfo</string>
		<string>scriptedPanel</string>
		<string>scriptedPanelType</string>
		<string>scriptJob</string>
		<string>scriptNode</string>
		<string>scriptTable</string>
		<string>scriptToShelf</string>
		<string>scrollField</string>
		<string>scrollLayout</string>
		<string>sculpt</string>
		<string>searchPathArray</string>
		<string>seed</string>
		<string>select</string>
		<string>selectContext</string>
		<string>selectCurveCV</string>
		<string>selectedNodes</string>
		<string>selectionConnection</string>
		<string>selectKey</string>
		<string>selectKeyCtx</string>
		<string>selectKeyframeRegionCtx</string>
		<string>selectMode</string>
		<string>selectPref</string>
		<string>selectPriority</string>
		<string>selectType</string>
		<string>selLoadSettings</string>
		<string>separator</string>
		<string>sequenceManager</string>
		<string>setAttr</string>
		<string>setAttrEnumResource</string>
		<string>setAttrMapping</string>
		<string>setAttrNiceNameResource</string>
		<string>setConstraintRestPosition</string>
		<string>setCustomAttrEnumResource</string>
		<string>setCustomAttrNiceNameResource</string>
		<string>setDefaultShadingGroup</string>
		<string>setDrivenKeyframe</string>
		<string>setDynamic</string>
		<string>setEditCtx</string>
		<string>setFluidAttr</string>
		<string>setFocus</string>
		<string>setInfinity</string>
		<string>setInputDeviceMapping</string>
		<string>setKeyCtx</string>
		<string>setKeyframe</string>
		<string>setKeyframeBlendshapeTargetWts</string>
		<string>setKeyPath</string>
		<string>setMenuMode</string>
		<string>setNClothRestShape</string>
		<string>setNClothStartFromMesh</string>
		<string>setNodeNiceNameResource</string>
		<string>setNodeTypeFlag</string>
		<string>setParent</string>
		<string>setParticleAttr</string>
		<string>setPfxToPolyCamera</string>
		<string>setPluginResource</string>
		<string>setProject</string>
		<string>setRenderPassType</string>
		<string>sets</string>
		<string>setStampDensity</string>
		<string>setStartupMessage</string>
		<string>setState</string>
		<string>setToolTo</string>
		<string>setUITemplate</string>
		<string>setXformManip</string>
		<string>shadingConnection</string>
		<string>shadingGeometryRelCtx</string>
		<string>shadingLightRelCtx</string>
		<string>shadingNetworkCompare</string>
		<string>shadingNode</string>
		<string>shapeCompare</string>
		<string>shelfButton</string>
		<string>shelfLayout</string>
		<string>shelfTabLayout</string>
		<string>shortNameOf</string>
		<string>shot</string>
		<string>shotRipple</string>
		<string>shotTrack</string>
		<string>showHelp</string>
		<string>showHidden</string>
		<string>showManipCtx</string>
		<string>showSelectionInTitle</string>
		<string>showShadingGroupAttrEditor</string>
		<string>showWindow</string>
		<string>sign</string>
		<string>simplify</string>
		<string>sin</string>
		<string>singleProfileBirailSurface</string>
		<string>size</string>
		<string>sizeBytes</string>
		<string>skinBindCtx</string>
		<string>skinCluster</string>
		<string>skinPercent</string>
		<string>smoothCurve</string>
		<string>smoothstep</string>
		<string>smoothTangentSurface</string>
		<string>snap2to2</string>
		<string>snapKey</string>
		<string>snapMode</string>
		<string>snapshot</string>
		<string>snapshotBeadCtx</string>
		<string>snapshotModifyKeyCtx</string>
		<string>snapTogetherCtx</string>
		<string>soft</string>
		<string>softMod</string>
		<string>softModCtx</string>
		<string>softSelect</string>
		<string>sort</string>
		<string>sound</string>
		<string>soundControl</string>
		<string>spaceLocator</string>
		<string>sphere</string>
		<string>sphrand</string>
		<string>spotLight</string>
		<string>spotLightPreviewPort</string>
		<string>spreadSheetEditor</string>
		<string>spring</string>
		<string>sqrt</string>
		<string>squareSurface</string>
		<string>srtContext</string>
		<string>stackTrace</string>
		<string>startString</string>
		<string>startsWith</string>
		<string>stereoCameraView</string>
		<string>stereoRigManager</string>
		<string>stitchAndExplodeShell</string>
		<string>stitchSurface</string>
		<string>stitchSurfacePoints</string>
		<string>strcmp</string>
		<string>stringAddPrefix</string>
		<string>stringArrayAddPrefix</string>
		<string>stringArrayCatenate</string>
		<string>stringArrayContains</string>
		<string>stringArrayCount</string>
		<string>stringArrayFind</string>
		<string>stringArrayInsertAtIndex</string>
		<string>stringArrayIntersector</string>
		<string>stringArrayRemove</string>
		<string>stringArrayRemoveAtIndex</string>
		<string>stringArrayRemoveDuplicates</string>
		<string>stringArrayRemoveExact</string>
		<string>stringArrayRemovePrefix</string>
		<string>stringArrayToString</string>
		<string>stringRemovePrefix</string>
		<string>stringToStringArray</string>
		<string>strip</string>
		<string>stripPrefixFromName</string>
		<string>stroke</string>
		<string>subdAutoProjection</string>
		<string>subdCleanTopology</string>
		<string>subdCollapse</string>
		<string>subdDuplicateAndConnect</string>
		<string>subdEditUV</string>
		<string>subdiv</string>
		<string>subdivCrease</string>
		<string>subdivDisplaySmoothness</string>
		<string>subdLayoutUV</string>
		<string>subdListComponentConversion</string>
		<string>subdMapCut</string>
		<string>subdMapSewMove</string>
		<string>subdMatchTopology</string>
		<string>subdMirror</string>
		<string>subdPlanarProjection</string>
		<string>subdToBlind</string>
		<string>subdToPoly</string>
		<string>subdTransferUVsToCache</string>
		<string>substitute</string>
		<string>substituteAllString</string>
		<string>substituteGeometry</string>
		<string>substring</string>
		<string>suitePrefs</string>
		<string>surface</string>
		<string>surfaceSampler</string>
		<string>surfaceShaderList</string>
		<string>swatchDisplayPort</string>
		<string>swatchRefresh</string>
		<string>switchTable</string>
		<string>symbolButton</string>
		<string>symbolCheckBox</string>
		<string>symmetricModelling</string>
		<string>sysFile</string>
		<string>system</string>
		<string>tabLayout</string>
		<string>tan</string>
		<string>tangentConstraint</string>
		<string>targetWeldCtx</string>
		<string>texLatticeDeformContext</string>
		<string>texManipContext</string>
		<string>texMoveContext</string>
		<string>texMoveUVShellContext</string>
		<string>texRotateContext</string>
		<string>texScaleContext</string>
		<string>texSelectContext</string>
		<string>texSelectShortestPathCtx</string>
		<string>texSmudgeUVContext</string>
		<string>text</string>
		<string>textCurves</string>
		<string>textField</string>
		<string>textFieldButtonGrp</string>
		<string>textFieldGrp</string>
		<string>textManip</string>
		<string>textScrollList</string>
		<string>textToShelf</string>
		<string>textureDeformer</string>
		<string>textureDisplacePlane</string>
		<string>textureHairColor</string>
		<string>texturePlacementContext</string>
		<string>textureWindow</string>
		<string>texTweakUVContext</string>
		<string>texWinToolCtx</string>
		<string>threadCount</string>
		<string>threePointArcCtx</string>
		<string>timeCode</string>
		<string>timeControl</string>
		<string>timePort</string>
		<string>timer</string>
		<string>timerX</string>
		<string>timeWarp</string>
		<string>toggle</string>
		<string>toggleAxis</string>
		<string>toggleWindowVisibility</string>
		<string>tokenize</string>
		<string>tokenizeList</string>
		<string>tolerance</string>
		<string>tolower</string>
		<string>toNativePath</string>
		<string>toolBar</string>
		<string>toolButton</string>
		<string>toolCollection</string>
		<string>toolDropped</string>
		<string>toolHasOptions</string>
		<string>toolPropertyWindow</string>
		<string>torus</string>
		<string>toupper</string>
		<string>trace</string>
		<string>track</string>
		<string>trackCtx</string>
		<string>transferAttributes</string>
		<string>transferShadingSets</string>
		<string>transformCompare</string>
		<string>transformLimits</string>
		<string>translator</string>
		<string>treeLister</string>
		<string>treeView</string>
		<string>trim</string>
		<string>trunc</string>
		<string>truncateFluidCache</string>
		<string>truncateHairCache</string>
		<string>tumble</string>
		<string>tumbleCtx</string>
		<string>turbulence</string>
		<string>twoPointArcCtx</string>
		<string>ubercam</string>
		<string>uiRes</string>
		<string>uiTemplate</string>
		<string>unassignInputDevice</string>
		<string>undo</string>
		<string>undoInfo</string>
		<string>unfold</string>
		<string>ungroup</string>
		<string>uniform</string>
		<string>unit</string>
		<string>unloadPlugin</string>
		<string>untangleUV</string>
		<string>untitledFileName</string>
		<string>untrim</string>
		<string>upAxis</string>
		<string>updateAE</string>
		<string>userCtx</string>
		<string>uvLink</string>
		<string>uvSnapshot</string>
		<string>validateShelfName</string>
		<string>vectorize</string>
		<string>view2dToolCtx</string>
		<string>viewCamera</string>
		<string>viewClipPlane</string>
		<string>viewFit</string>
		<string>viewHeadOn</string>
		<string>viewLookAt</string>
		<string>viewManip</string>
		<string>viewPlace</string>
		<string>viewSet</string>
		<string>visor</string>
		<string>volumeAxis</string>
		<string>volumeBind</string>
		<string>vortex</string>
		<string>waitCursor</string>
		<string>walkCtx</string>
		<string>warning</string>
		<string>webBrowser</string>
		<string>webBrowserPrefs</string>
		<string>webView</string>
		<string>whatIs</string>
		<string>whatsNewHighlight</string>
		<string>window</string>
		<string>windowPref</string>
		<string>wire</string>
		<string>wireContext</string>
		<string>workspace</string>
		<string>wrinkle</string>
		<string>wrinkleContext</string>
		<string>writeTake</string>
		<string>xbmLangPathList</string>
		<string>xform</string>
		<string>xpmPicker</string>
	</array>

	<key>BBLMPredefinedNameList</key>
	<array>
		<string>alias</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>catchQuiet</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>false</string>
		<string>float</string>
		<string>for</string>
		<string>frame</string>
		<string>global</string>
		<string>if</string>
		<string>in</string>
		<string>int</string>
		<string>matrix</string>
		<string>no</string>
		<string>off</string>
		<string>on</string>
		<string>proc</string>
		<string>return</string>
		<string>source</string>
		<string>string</string>
		<string>switch</string>
		<string>time</string>
		<string>true</string>
		<string>vector</string>
		<string>while</string>
		<string>yes</string>
	</array>

	<key>BBLMCommentLineDefault</key>
	<string>//</string>

	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_$</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Terminator for Prototypes 1</key>
		<string>;</string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>End-of-line Ends Strings 1</key>
		<true/>
		<key>Open Strings 2</key>
		<string>'</string>
		<key>Close Strings 2</key>
		<string>'</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>End-of-line Ends Strings 2</key>
		<true/>
	</dict>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.mel</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.ma</string>
		</dict>
	</array>
</dict>
</plist>
